<h1>welcome to this page</h1>
<label> Car </label>
<h4>buy for rent</h4>
<body>
     <p>Rent A Car has its humble origin at Palakkad in 2000 with the idea to provide quality cars at low rent. 
        Since then we are proud to say that we have got a lot of regular overseas clients which shows the trust they have in our venture. 
        The Managing Director of the firm is Mr. Sunil Joseph who has a lot of experience in this field.
        Thakdiel Rent A Car is one stop solution for all your vehicle rental requirements. We are all set and ready to assist you.
    </p>
</body>
agree terms <input type="checkbox" value="checked" />
<input type="button" value="submit" />